---
layout: default
---

<div class="highlights">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="alert alert-danger">
                    NOTICE: OpenAgua is currently on pause as we seek further funding support. However, it remains under
                    active development. Stay tuned!
                </div>
                <div class="intro">
                    <h2>OpenAgua <strong>is a next-generation application for modeling water systems.</strong></h2>
                    <p>The goals of OpenAgua are to leverage cloud computing and web technologies for collaboratively
                        solving complex water management challenges. </p>
                    <div></div>
                </div>
                <div class="buttons text-center" style="padding-bottom: 10px">
                    <a href="{{ site.app_url }}/register" class="btn btn-primary" type="button">Sign up</a>
                </div>
            </div>
            <div class="col-sm-5"><img src="/assets/images/screenshot.png" width="100%" alt="screenshot">
            </div>
        </div>
    </div>
</div>
<div class="features-blue">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Features</h2>
            <p class="text-center">OpenAgua integrates some of the best open source technologies available today to
                create a rich application for water system modeling.</p>
        </div>
        <div class="row features">
            <div class="col-md-4 col-sm-6 item"><i class="fas fa-tint icon"></i>
                <h3 class="name">Water system modeling</h3>
                <p class="description">Model water systems with traditional simulation or more advanced,
                    state-of-the-art optimization methods. </p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="fas fa-users icon"></i>
                <h3 class="name">Sharing and collaboration</h3>
                <p class="description">OpenAgua enables easy and flexible sharing and collaboration between experts,
                    decision-makers, and stakeholders. </p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="fas fa-database icon"></i>
                <h3 class="name">Modern data organization </h3>
                <p class="description">Water system data is organized using Hydra Platform, a modern data representation
                    layer and web server for networks. </p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="fas fa-cloud icon"></i>
                <h3 class="name">Flexible computing </h3>
                <p class="description">Use the compute engine of your choice for the heavy lifting, from your own laptop
                    to OpenAgua-managed cluster computers in the cloud. </p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="fas fa-chart-bar icon"></i>
                <h3 class="name">Integrated data analytics </h3>
                <p class="description">Explore planning scenario outcomes with integrated analytic tools, and connect
                    with powerful 3rd party visualization applications.</p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="fas fa-code-branch icon"></i>
                <h3 class="name">Open Source</h3>
                <p class="description">Open source enables transparency, opportunities for collaborative improvements,
                    and customizations.</p>
            </div>
        </div>
    </div>
</div>
<div class="funding">
    <div class="container">
        <!--        <div class="row">-->
        <!--            <div class="col-md-12">-->
        <!--                <h2 class="text-center">Built on strong partnerships</h2>-->
        <!--                <p class="description">OpenAgua is currently developed at the Water Center for-->
        <!--                    Latin America and the Caribbean at Tecnológico de Monterrey.-->
        <!--                    <a href="https://docs.openagua.org/the-team/" target="_blank">READ MORE</a></p>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="row"><h3 class="text-center" style="padding: 20px">Previous funding support</h3></div>
        <div class="row">

            {% for funder in site.data.funders %}

            <div class="col-md-3 col-sm-4 item">
                <a href="{{funder.url}}" target="_blank"><img alt="{{funder.name}}" src="/assets/images/{{funder.img}}"></a>
            </div>

            {% endfor %}


        </div>
    </div>
</div>
